{
  "openapi": "3.1.0",
  "info": {
    "title": "ImagenHub API",
    "description": "API services with API key authentication and credit-based usage limits",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.imagenhub.ai/api",
      "description": "Production"
    },
    {
      "url": "https://staging-api.imagenhub.ai/api",
      "description": "Staging"
    },
    {
      "url": "http://localhost/api",
      "description": "Local development"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "Verify API key",
        "description": "Returns basic info about the authenticated API key and user tier.\nUseful for testing API key authentication and checking credit/rate limit status.\n",
        "operationId": "ping",
        "tags": [
          "Utility"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "headers": {
              "X-RateLimit-Limit-Minute": {
                "schema": {
                  "type": "integer"
                },
                "description": "Request limit per minute (free tier only)"
              },
              "X-RateLimit-Remaining-Minute": {
                "schema": {
                  "type": "integer"
                },
                "description": "Remaining requests in minute window"
              },
              "X-RateLimit-Limit-Day": {
                "schema": {
                  "type": "integer"
                },
                "description": "Request limit per day (free tier only)"
              },
              "X-RateLimit-Remaining-Day": {
                "schema": {
                  "type": "integer"
                },
                "description": "Remaining requests in day window"
              },
              "X-Credits-Used": {
                "schema": {
                  "type": "number"
                },
                "description": "Credits used by this key"
              },
              "X-Credits-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Remaining credits (or \"unlimited\")"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/images": {
      "post": {
        "summary": "Host an image for use in later generations",
        "description": "Turn raw image bytes into a hosted reference a generation can consume.\n\nSend exactly one of `file` (multipart), `image_base64`, or `image_url`.\nSending none or more than one is rejected.\n\nThe decoded upload limit is 10 MB for every transport.\n\nFor a large image, or from a network whose route to this API is slow,\nthe two-call upload starting at `POST /images/upload-url` sends the\nbytes straight to storage instead and returns the same reference.\n\n**The reference is `path`, not `url`.** Persist `path` and send it back\nas an image input to `/process`, `/run/{model_name}`, or a template's\n`default_inputs`. `url` renders the image now and is a convenience only.\n\n**Uploads expire.** An upload is staging for inference, not storage:\nthe bytes are removed once the retention window in `expires_at` passes,\nwhether or not anything still references them. Keep your own original\nand upload again rather than treating this as a file store. Saving the\npath into a template is the exception — a template copies the image\ninto permanent storage when it is saved.\n\nUploaded images are re-encoded to JPEG, PNG or WebP, resized so the\nlongest edge is at most 4096 pixels, and stripped of metadata. The\nstored bytes will therefore differ from what was sent, and `size_bytes`\nreports what was stored. Send `path`, never `url`, as the generation\nreference.\n",
        "operationId": "uploadImage",
        "tags": [
          "Images"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file. Accepted formats are JPEG, PNG, WebP, GIF,\nHEIC, HEIF and AVIF, decided by inspecting the bytes rather\nthan the filename or declared content type. SVG is rejected.\nMaximum 10 MB.\n"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_base64": {
                    "type": "string",
                    "description": "Base64-encoded image, with or without a `data:<mime>;base64,`\nprefix. Note base64 inflates the payload by about a third and\nthe 10 MB limit applies to the decoded bytes.\n",
                    "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public `https://` URL the server fetches. Must be reachable\nwithout credentials; plaintext `http://` is rejected, as are\nURLs resolving to private, loopback or link-local addresses.\n",
                    "example": "https://example.com/reference.png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The image was stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UploadedImage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "The upload was refused. The message names the reason: an\nunsupported or unreadable format, a file over the size or pixel\nlimit, a URL that could not be fetched, more or fewer than one mode\nsupplied, or the account's upload quota being full.\n"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/images/upload-url": {
      "post": {
        "summary": "Mint a URL to upload an image straight to storage",
        "description": "The first half of a two-call upload that sends the bytes to storage\ndirectly rather than through this API. The bytes go raw rather than\nbase64, and they take the caller's own route to the storage bucket\ninstead of the route to this API, which from some networks is many\ntimes faster.\n\nThe response names an `upload_url`, the `headers` the PUT must carry\nunchanged, and the `path` the bytes will occupy. PUT the raw image\nbytes to `upload_url` with those headers. When the PUT answers 2xx,\nsend `path` to `POST /images/confirm`, which validates the image and\nreturns the same reference `POST /images` returns.\n\nNothing exists until confirmation. Minting creates no row and consumes\nno quota; a URL nobody writes to, and bytes nobody confirms, are swept\nwith the rest of the expiring prefix. The URL writes to one key and\nnothing else, until `expires_at`, so a leaked URL can put bytes in one\nplace that nothing reads until this account confirms them.\n\nThis route has its own rate limit, separate from `POST /images` and\nfrom `POST /images/confirm`, so one mint and one confirm never exhaust\neither.\n",
        "operationId": "createImageUploadUrl",
        "tags": [
          "Images"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A slot was minted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/StagedUpload"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "No slot was minted. Either the account's upload quota is full, or\nthis deployment cannot sign upload URLs, in which case the message\nsays to use `POST /images` instead.\n"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/images/confirm": {
      "post": {
        "summary": "Turn bytes written to a minted URL into a hosted image",
        "description": "The second half of a two-call upload. Send the `path` that\n`POST /images/upload-url` returned, once the PUT to its `upload_url`\nhas answered 2xx.\n\nThe bytes are read from storage and treated exactly as bytes sent to\n`POST /images`: validated by inspecting them, re-encoded, and given a\nnew `path` under the same rules. The answer has the same shape as\n`POST /images`, and the `path` in it is the reference to keep. The\nstaged path is consumed and cannot be confirmed twice.\n\nWhatever was at the staged path is removed whether or not it was\naccepted, so a refused upload has to be minted and sent again.\n",
        "operationId": "confirmImageUpload",
        "tags": [
          "Images"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "The `path` returned by `POST /images/upload-url`.",
                    "example": "media/staging/42/0199f0c2-8a3e-7c31-9f4d-2b6e1a5c7d90"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The image was stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UploadedImage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "The upload was refused. The message names the reason: nothing this\naccount staged is readable at that path (never written, already\nconfirmed, or staged for another account, which are deliberately\none message), an unsupported or unreadable format, a file over the\nsize or pixel limit, or the account's upload quota being full.\n"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/providers": {
      "get": {
        "summary": "List providers",
        "description": "Returns all visible AI providers.",
        "operationId": "listProviders",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Provider"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List AI models",
        "description": "Returns all visible AI models with their input schemas.",
        "operationId": "listModels",
        "tags": [
          "Catalog"
        ],
        "security": [],
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free-text search on model name and display name"
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "black-forest-labs"
            },
            "description": "Filter by owner slug (Replicate convention)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Sort field"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AiModel"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/models/{owner}/{name}": {
      "get": {
        "summary": "Get a specific AI model by owner + name",
        "description": "Canonical lookup using the (owner, name) pair. Same response shape as\n`/models/{aiModel}`. Model names may contain a `/edit` variant suffix,\nwhich is captured as part of `{name}` (e.g. `/models/openai/gpt-image-1/edit`).\n",
        "operationId": "getModelByOwnerAndName",
        "tags": [
          "Catalog"
        ],
        "security": [],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "black-forest-labs"
            },
            "description": "Owner slug (Replicate convention)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "flux-1-kontext-pro"
            },
            "description": "Model name (may contain `/edit` suffix)"
          }
        ],
        "responses": {
          "200": {
            "description": "Model details with providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AiModel"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model not found"
          }
        }
      }
    },
    "/model-providers": {
      "get": {
        "summary": "List model-provider combinations",
        "description": "Returns visible model-provider combinations. Use query parameters\nto filter by provider or model.\n",
        "operationId": "listModelProviders",
        "tags": [
          "Catalog"
        ],
        "security": [],
        "parameters": [
          {
            "name": "provider_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by provider ID"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by model ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of model-provider combinations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelProvider"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/process": {
      "post": {
        "summary": "Process an image generation request",
        "description": "Submit an image generation request using either a model or a template.\nExactly one of `model_id` or `template_id` must be provided — they are\nmutually exclusive.\n\nWhen using `template_id`, the template's default inputs are merged with\nthe provided inputs (user input takes priority). The model is resolved\nfrom the template automatically.\n\nReturns a task resource. Poll `GET /tasks/{id}` or stream\n`GET /tasks/{id}/stream` (SSE) for status updates and output.\n",
        "operationId": "process",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model_id": {
                    "type": "integer",
                    "description": "AI model ID. Required if template_id is not provided.",
                    "example": 1
                  },
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Template UUID. Required if model_id is not provided.",
                    "example": "019d29c5-9663-71c4-b698-9cbf898948d4"
                  },
                  "provider_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Provider ID. Optional — system selects default if omitted.",
                    "example": 1
                  },
                  "_variables": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Values for prompt variables (`{{placeholders}}`) defined on the template.\nKeys are variable names; values are strings. Substituted into all string\ninputs at job execution time. Missing values fall back to the variable's\n`default`; required variables without a value cause a 422 error.\n",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "style": "watercolor",
                      "product": "sneakers"
                    }
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "Where to POST the result once the task finishes, instead of polling\nfor it.\n\nOmit it and we use the default endpoint configured for your\norganization, if there is one. Send it as `null` to suppress the\ncallback for this task even when a default is set.\n\nMust be `https` and must not embed credentials\n(`https://user:pass@host` is rejected). Reserved: it is never passed\nto the model as a generation input.\n",
                    "example": "https://example.com/hooks/imagenhub"
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "maxProperties": 25,
                    "additionalProperties": {
                      "type": [
                        "string",
                        "number",
                        "boolean",
                        "null"
                      ],
                      "maxLength": 500
                    },
                    "description": "Your own labels for this task: an order number, a campaign, the\ncustomer it belongs to. They are stored with the task, come back\non the task resource, and `GET /tasks` can filter on them.\n\nAt most 25 keys. Every value must be a scalar (string, number,\nboolean or null), and a string value is capped at 500 characters.\nSending `{}` reads as sending nothing, and the task comes back with\n`metadata: null`. Reserved: it is never passed to the model as a\ngeneration input.\n",
                    "example": {
                      "partner": "teeinblue",
                      "campaign_id": "cmp_12345"
                    }
                  }
                },
                "additionalProperties": {
                  "description": "Dynamic input fields defined by the model's input schema.\nKeys and types vary per model.\n"
                }
              },
              "examples": {
                "withModel": {
                  "summary": "Process with model_id",
                  "value": {
                    "model_id": 1,
                    "prompt": "A cat wearing a top hat"
                  }
                },
                "withTemplate": {
                  "summary": "Process with template_id",
                  "value": {
                    "template_id": "019d29c5-9663-71c4-b698-9cbf898948d4",
                    "prompt": "A product photo on white background"
                  }
                },
                "withTemplateVariables": {
                  "summary": "Process with template_id and prompt variables",
                  "description": "The template's prompt is `\"A {{style}} illustration of {{product}} on a clean background\"`.\nValues from `_variables` are substituted into the final prompt sent to the provider.\n",
                  "value": {
                    "template_id": "019d29c5-9663-71c4-b698-9cbf898948d4",
                    "_variables": {
                      "style": "watercolor",
                      "product": "red sneakers"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Refused. As application/problem+json, the account cannot cover the run (see https://docs.imagenhub.ai/errors/insufficient-credits). As application/json, not authorized to use the specified template.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsProblem"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "This action is unauthorized."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error (e.g. both model_id and template_id provided)"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/batch/design/clone": {
      "post": {
        "summary": "Clone a design from a product image",
        "description": "Reproduces the design shown in the source image as a print-ready file. Runs a fixed pipeline — auto-crop the mockup to the printed design, generate, upscale, remove background, resize to a print canvas — on pre-configured defaults; every field except `image` is optional. A run is refused (422) when no printed design can be located in the image, and 503 when design detection is temporarily unavailable. The created task (and each chain step under it) carries `metadata: {\"action\": \"clone\"}`, so a design run is filterable and distinguishable from an ordinary /api/process task in the same list. Asynchronous: returns the root task; poll GET /tasks/{id}.",
        "operationId": "designClone",
        "tags": [
          "Design"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DesignRunRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created root task.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "422": {
            "description": "Validation error (unknown field, ineligible model, malformed resize), or no printed design could be located in the image."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/batch/design/redesign": {
      "post": {
        "summary": "Redesign from a product image",
        "description": "Generates a new variation of the design shown in the source image as a print-ready file. Same pipeline and contract as /batch/design/clone — including the task carrying `metadata: {\"action\": \"redesign\"}` — only the pre-configured prompt differs.",
        "operationId": "designRedesign",
        "tags": [
          "Design"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DesignRunRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created root task.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "422": {
            "description": "Validation error."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/batch/design/locate": {
      "post": {
        "summary": "Locate the printed design in a mockup",
        "description": "Standalone detection, without starting a run: returns the printed design's bounding box (box_2d, 0-1000, y-first), clockwise tilt (rotation_degrees), confidence, and — when the detection is trusted — a stored upright crop of the design (crop_path, usable as the `image` of a later design run, plus a temporary crop_url). A distrusted detection returns 200 with fallback=true and the reason. The source image is never modified. 422 when the source cannot be read or exceeds 20MB / 40 megapixels; 503 when detection is temporarily unavailable.",
        "operationId": "designLocate",
        "tags": [
          "Design"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Source image: a hosted `path` from POST /images (preferred), an https URL, or a data URI."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detection result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignLocateResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "The source image could not be read, or exceeds 20MB / 40 megapixels."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Design detection is temporarily unavailable."
          }
        }
      }
    },
    "/batch/design/options": {
      "get": {
        "summary": "Design flow options",
        "description": "The clone/redesign missions with recommended generation models, each step's default and eligible models, and the print-size resize presets.",
        "operationId": "designOptions",
        "tags": [
          "Design"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignOptions"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/run/{model_name}": {
      "post": {
        "summary": "Run a model asynchronously",
        "description": "Submit a generation request by specifying the model by name in the URL path.\nThe job is queued and processed asynchronously. The provider is selected\nautomatically.\n\nReturns a task resource immediately. Poll `GET /tasks/{id}` or stream\n`GET /tasks/{id}/stream` (SSE) for status updates and output.\n\nModel names may contain slashes (e.g. `black-forest-labs/flux-schnell`).\n",
        "operationId": "runModel",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The model's name. May contain slashes.",
            "example": "black-forest-labs/flux-schnell"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "Where to POST the result once the task finishes, instead of polling\nfor it.\n\nOmit it and we use the default endpoint configured for your\norganization, if there is one. Send it as `null` to suppress the\ncallback for this task even when a default is set.\n\nMust be `https` and must not embed credentials\n(`https://user:pass@host` is rejected).\n\nReserved out of the model's input namespace, along with\n`metadata`: both are stripped before the body is matched against\nthe model's input schema, and neither reaches the provider.\n",
                    "example": "https://example.com/hooks/imagenhub"
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "maxProperties": 25,
                    "additionalProperties": {
                      "type": [
                        "string",
                        "number",
                        "boolean",
                        "null"
                      ],
                      "maxLength": 500
                    },
                    "description": "Your own labels for this task: an order number, a campaign, the\ncustomer it belongs to. They are stored with the task, come back\non the task resource, and `GET /tasks` can filter on them.\n\nAt most 25 keys. Every value must be a scalar (string, number,\nboolean or null), and a string value is capped at 500 characters.\nSending `{}` reads as sending nothing, and the task comes back with\n`metadata: null`.\n\nReserved out of the model's input namespace, like `webhook_url`:\nstripped before the body is matched against the model's input\nschema, and never forwarded to the provider.\n",
                    "example": {
                      "partner": "teeinblue",
                      "campaign_id": "cmp_12345"
                    }
                  }
                },
                "additionalProperties": {
                  "description": "Dynamic input fields defined by the model's input schema.\nKeys and types vary per model.\n"
                }
              },
              "example": {
                "prompt": "A cat wearing a top hat",
                "webhook_url": "https://example.com/hooks/imagenhub"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created and queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "description": "Provider or model not found"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/run/sync/{model_name}": {
      "post": {
        "summary": "Run a model synchronously",
        "description": "Submit a generation request and wait for it to complete before returning.\nReturns the output image URLs and task ID directly in the response.\n\nUse this for low-latency integrations where polling is not practical.\nFor long-running models, prefer the async `POST /run/{model_name}`.\nThe provider is selected automatically.\n\nModel names may contain slashes (e.g. `black-forest-labs/flux-schnell`).\n\n`webhook_url` is not accepted here and returns 422 — the result comes back\nin this response, so there is nothing to call back about. Use the async\n`POST /run/{model_name}` for a callback.\n",
        "operationId": "runModelSync",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The model's name. May contain slashes.",
            "example": "black-forest-labs/flux-schnell"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "maxProperties": 25,
                    "additionalProperties": {
                      "type": [
                        "string",
                        "number",
                        "boolean",
                        "null"
                      ],
                      "maxLength": 500
                    },
                    "description": "Your own labels for this task: an order number, a campaign, the\ncustomer it belongs to. Accepted here as well as on the async\nendpoint — this response carries only the images, so read them\nback with `GET /tasks/{task}` or filter on them in `GET /tasks`.\n\nAt most 25 keys. Every value must be a scalar (string, number,\nboolean or null), and a string value is capped at 500 characters.\n\nReserved out of the model's input namespace: stripped before the\nbody is matched against the model's input schema, and never\nforwarded to the provider.\n",
                    "example": {
                      "partner": "teeinblue",
                      "campaign_id": "cmp_12345"
                    }
                  }
                },
                "additionalProperties": {
                  "description": "Dynamic input fields defined by the model's input schema.\nKeys and types vary per model.\n"
                }
              },
              "example": {
                "prompt": "A cat wearing a top hat",
                "metadata": {
                  "partner": "teeinblue",
                  "campaign_id": "cmp_12345"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The ID of the completed task."
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      },
                      "description": "Public URLs of the generated output images."
                    }
                  }
                },
                "example": {
                  "task_id": "018f1a2b-3c4d-7e8f-9a0b-1c2d3e4f5a6b",
                  "images": [
                    "https://cdn.example.com/output/abc123.png"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "description": "Provider or model not found"
          },
          "422": {
            "description": "Validation error or task processing failure",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error detail from the provider."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "Returns the authenticated user's tasks, most recent first. Filter by\nstatus, template, model, or the labels you attached at creation to review\na batch. Returns a lightweight projection — use `GET /tasks/{task}` for a\ntask's inputs and output image URLs.\n",
        "operationId": "listTasks",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "processing",
                "success",
                "error"
              ]
            },
            "description": "Filter by task status"
          },
          {
            "name": "template_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by template UUID"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by AI model ID"
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": [
                  "string",
                  "number",
                  "boolean"
                ]
              }
            },
            "description": "Filter by the labels attached to the task when it was created. Name one\nlabel per bracketed key, as in `?metadata[partner]=teeinblue`, and repeat\nthe parameter to narrow further: every pair given has to match, so\n`?metadata[partner]=teeinblue&metadata[campaign_id]=cmp_9921` returns only\nthe tasks carrying both. A pair whose value is empty is skipped rather\nthan matched on.\n",
            "example": {
              "campaign_id": "cmp_9921"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ],
              "default": "created_at"
            },
            "description": "Sort field"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 15
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskSummary"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{task}": {
      "get": {
        "summary": "Get task status",
        "description": "Returns the current status of a task. When status is `success`,\nthe `output` field contains signed URLs to generated images\n(valid for 1 hour).\n",
        "operationId": "getTask",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/tasks/{task}/download": {
      "get": {
        "summary": "Download task output image",
        "description": "Streams a single output image of a successful task as a file\ndownload (`Content-Disposition: attachment`). Use `index` to pick\namong multiple outputs (default `0`).\n",
        "operationId": "downloadTaskOutput",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task UUID"
          },
          {
            "name": "index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Zero-based index of the output image to download"
          }
        ],
        "responses": {
          "200": {
            "description": "Image file stream",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Task or output image not found"
          }
        }
      }
    },
    "/tasks/{task}/stream": {
      "get": {
        "summary": "Stream task status (SSE)",
        "description": "Server-Sent Events stream for real-time task status updates.\nEach event contains a JSON-encoded task object. The stream\ncloses when the task reaches `success` or `error` status.\n",
        "operationId": "streamTask",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of task status updates",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "JSON-encoded task objects as SSE data events"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "summary": "List templates",
        "description": "Returns the authenticated user's own templates plus all public\ntemplates. Public templates have `user_id: null` and are\nsystem-provided starting points that any user can run directly.\n",
        "operationId": "listTemplates",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Search query — filters by name (partial match), or if the value is a valid template UUID, returns an exact match by template ID"
          },
          {
            "name": "ownership",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "public",
                "private"
              ],
              "default": "all"
            },
            "description": "Filter by ownership (all = user's + public, public = system templates only, private = user's only)"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by AI model ID"
          },
          {
            "name": "category_ids[]",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "Filter by one or more category IDs; a template filed under any of them is\nreturned. Repeat the parameter to pass multiple values (e.g.\n`?category_ids[]=<id>&category_ids[]=<id>`). Categories belong to the\nauthenticated account; an ID owned by anyone else is rejected with 422.\n"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Sort field"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 15
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TemplateSummary"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create template",
        "description": "Create a new template from a model and default inputs.\nThe template is owned by the authenticated user.\n",
        "operationId": "createTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "model_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Product Photo Enhancement"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "Enhance product photos with professional lighting"
                  },
                  "model_id": {
                    "type": "integer",
                    "description": "AI model ID to use for this template",
                    "example": 1
                  },
                  "default_inputs": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Pre-filled input values merged with user input at processing time"
                  },
                  "extra_input": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Provider-specific extra input overrides"
                  },
                  "thumbnail_source": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "URL to generate a WebP thumbnail from"
                  },
                  "prompt_variables": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "description": "Named placeholders (`{{name}}`) that appear in the template's prompt\nor other string inputs. Users fill them at processing time via the\n`_variables` map on `POST /process`.\n",
                    "items": {
                      "$ref": "#/components/schemas/PromptVariable"
                    }
                  },
                  "category_ids": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "maxItems": 100,
                    "description": "IDs of the account's own categories to file this template under.\nOmitting the field on an update leaves the existing filing alone;\nsending an empty array clears it. An ID belonging to another\naccount is rejected with 422.\n",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              },
              "examples": {
                "withVariables": {
                  "summary": "Template with prompt variables",
                  "value": {
                    "name": "Product Photo Generator",
                    "model_id": 1,
                    "description": "Generate styled product photos with a customizable subject",
                    "default_inputs": {
                      "prompt": "A {{style}} photo of {{product}} on a {{background}} background"
                    },
                    "prompt_variables": [
                      {
                        "name": "style",
                        "default": "studio"
                      },
                      {
                        "name": "product",
                        "default": null
                      },
                      {
                        "name": "background",
                        "default": "white"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/templates/{template}": {
      "get": {
        "summary": "Get template",
        "description": "Returns a single template. Accessible if the template is owned\nby the authenticated user or is public.\n",
        "operationId": "getTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Template UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to view this template"
          },
          "404": {
            "description": "Template not found"
          }
        }
      },
      "put": {
        "summary": "Update template",
        "description": "Update an existing template. Only the template owner can update it.\n",
        "operationId": "updateTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Template UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "model_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Product Photo Enhancement"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "Enhance product photos with professional lighting"
                  },
                  "model_id": {
                    "type": "integer",
                    "description": "AI model ID to use for this template",
                    "example": 1
                  },
                  "default_inputs": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Pre-filled input values merged with user input at processing time"
                  },
                  "extra_input": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Provider-specific extra input overrides"
                  },
                  "thumbnail_source": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "URL to generate a new WebP thumbnail from (replaces existing)"
                  },
                  "prompt_variables": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "description": "Replace the template's prompt variable definitions. Pass `null`\nor an empty array to clear all variables. See `PromptVariable` schema.\n",
                    "items": {
                      "$ref": "#/components/schemas/PromptVariable"
                    }
                  },
                  "category_ids": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "maxItems": 100,
                    "description": "IDs of the account's own categories to file this template under.\nOmitting the field on an update leaves the existing filing alone;\nsending an empty array clears it. An ID belonging to another\naccount is rejected with 422.\n",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to update this template"
          },
          "404": {
            "description": "Template not found"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "summary": "Delete template",
        "description": "Delete a template. Only the template owner can delete it.\n",
        "operationId": "deleteTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Template UUID"
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to delete this template"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "List categories",
        "description": "Every category the authenticated account owns, ordered by name. Categories\nare per-account: an account never sees another's, and there are no global\nor system categories.\n",
        "operationId": "listCategories",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The account's categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create category",
        "description": "Creates a category owned by the authenticated account. The name must be\nunique within the account, compared without regard to case, so \"Portrait\"\nand \"portrait\" are the same category. Punctuation and diacritics are part\nof the name: \"Ảnh\" and \"Anh\" are two categories, not one.\n",
        "operationId": "createCategory",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Product shots"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Category"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error. The name is empty or already used by this account\n(compared without regard to case), reported under `name`; or the account\nis at its category limit, reported under `limit` — a key no field is\nbound to, because the fault is with the account rather than the name.\nThe limit is a deployment setting, not a fixed number.\n"
          }
        }
      }
    },
    "/categories/{category}": {
      "put": {
        "summary": "Update category",
        "description": "Renames a category. The new name must not already be used by this account,\ncompared without regard to case.\n",
        "operationId": "updateCategory",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Head shots"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Category"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The category belongs to another account"
          },
          "404": {
            "description": "No such category"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "summary": "Delete category",
        "description": "Deletes the category and detaches it from every template filed under it.\nThe templates themselves are untouched, and the name becomes available again.\n",
        "operationId": "deleteCategory",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Category deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The category belongs to another account"
          },
          "404": {
            "description": "No such category"
          }
        }
      }
    },
    "/analytics/requests": {
      "get": {
        "summary": "List request history",
        "description": "Returns paginated request log for the authenticated user's API keys.\nSupports cursor-based pagination, filtering by model, API key, status, and date range.\n",
        "operationId": "listAnalyticsRequests",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Search model name or provider name (partial match)"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by AI model ID"
          },
          {
            "name": "model_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter by exact model name"
          },
          {
            "name": "provider_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter by exact provider name"
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by specific API key ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "user_error",
                "error"
              ]
            },
            "description": "Filter by response status"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range (YYYY-MM-DD, defaults to 24h ago)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range (YYYY-MM-DD, defaults to now)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ended_at",
                "duration"
              ],
              "default": "ended_at"
            },
            "description": "Sort field"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination (from previous response's next_cursor)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated request log",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsRequestsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/analytics/requests/filters": {
      "get": {
        "summary": "Get request filter options",
        "description": "Returns available filter values (model names and provider names)\nfor the authenticated user's request history. Useful for populating\nfilter dropdowns in the UI.\n",
        "operationId": "getAnalyticsRequestFilters",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Available filter values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "openai/dall-e-3",
                        "black-forest-labs/flux-dev",
                        "stability-ai/stable-diffusion-xl"
                      ],
                      "description": "Unique model names from past requests"
                    },
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "openai",
                        "fal",
                        "replicate"
                      ],
                      "description": "Unique provider names from past requests"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/usage": {
      "get": {
        "summary": "Usage and cost aggregation",
        "description": "Returns time-bucketed cost and request count aggregation\nfor the authenticated user's API keys.\n",
        "operationId": "getAnalyticsUsage",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by AI model ID"
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by specific API key ID"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range (YYYY-MM-DD, defaults to 24h ago)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range (YYYY-MM-DD, defaults to now)"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month"
              ],
              "default": "day"
            },
            "description": "Time bucket granularity"
          }
        ],
        "responses": {
          "200": {
            "description": "Time-bucketed usage data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsUsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/analytics/metrics": {
      "get": {
        "summary": "Performance metrics",
        "description": "Returns time-bucketed performance metrics including request counts,\nerror rates, and latency percentiles (p50, p75, p90) for a specific model.\n",
        "operationId": "getAnalyticsMetrics",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AI model ID (required)"
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by specific API key ID"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range (YYYY-MM-DD, defaults to 24h ago)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range (YYYY-MM-DD, defaults to now)"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month"
              ],
              "default": "day"
            },
            "description": "Time bucket granularity"
          }
        ],
        "responses": {
          "200": {
            "description": "Performance metrics with percentiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsMetricsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/credits/balance": {
      "get": {
        "summary": "Get credit balance",
        "description": "Returns the current credit balance for the authenticated user.",
        "operationId": "getCreditBalance",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "integer",
                          "example": 1234
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/credits/transactions": {
      "get": {
        "summary": "List credit transactions",
        "description": "Returns a cursor-paginated list of credit ledger entries for the authenticated user.\nOptionally filter by one or more transaction types via repeated `types[]` query params.\n",
        "operationId": "listCreditTransactions",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "types[]",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CreditTransactionType"
              }
            },
            "description": "Filter by one or more transaction types. Repeat the parameter to pass\nmultiple values (e.g. `?types[]=subscription_deposit&types[]=topup`).\nOmit to return the full ledger.\n"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination (from previous response's next_cursor)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated credit transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransactionsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    }
  },
  "webhooks": {
    "taskCompleted": {
      "post": {
        "summary": "Task finished (sent by us, to you)",
        "description": "Sent to the `webhook_url` you supplied on the generation request, once the\ntask reaches a terminal state. You do not implement a path here — this is\nthe request we make to whatever URL you gave us.\n\n### Verifying\n\nDeliveries follow the [Standard Webhooks](https://www.standardwebhooks.com/)\nspecification, so you can verify them with an off-the-shelf library rather\nthan implementing the signature yourself. Libraries exist for JavaScript,\nPython, Go, Ruby, Java, C#, Rust, Elixir and PHP.\n\n```php\n$wh = new \\StandardWebhooks\\Webhook($secret);   // whsec_... from your dashboard\n$event = $wh->verify($requestBody, $requestHeaders);\n```\n\nThe signature covers `{webhook-id}.{webhook-timestamp}.{body}`. Reject\nanything whose timestamp is more than five minutes old — the library does\nthis for you.\n\nDuring a secret rotation, `webhook-signature` carries more than one\nspace-separated signature and any of them matching is valid. Nothing in your\ncode needs to change for that; the library already handles it.\n\n### Delivering\n\nRetried up to 6 times — after 1m, 5m, 30m, 2h and 6h — until your endpoint\nanswers `2xx`. Anything else, including a redirect, counts as a failure and\nis retried; we do not follow redirects.\n\nDelivery is **at-least-once and unordered**. The same event may arrive more\nthan once, so treat `webhook-id` as an idempotency key and ignore an id you\nhave already processed.\n\nAnswer quickly — we time out after 10 seconds — and do the work\nasynchronously rather than while we wait.\n\n**Do not depend on delivery.** Endpoints go down and retry budgets run out.\nPoll `GET /tasks/{id}` for anything you were expecting and have not heard\nabout.\n\n### What this describes\n\nThe payload is a snapshot of the task at the moment it finished, not a live\nview. It is accurate when sent and stays as sent through every retry. For the\ncurrent state of a task — at any point, including long after the callback —\nfollow `data.url` or call `GET /tasks/{id}`.\n\nBoth are given deliberately. Read the body and act immediately, or follow the\nlink and be certain; whichever suits your integration.\n\n`data.output` lists every result the task produced. A task produces a handful\nof images at most, and we will not inline more than 100 in a single delivery\n— beyond that, read them from `data.url`.\n\n### Changes\n\nFields are only ever added, never removed and never changed in type, so\nthere is no version to pin. Ignore fields you do not recognise.\n",
        "operationId": "taskCompletedWebhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique per event and stable across retries. Use it to deduplicate.",
            "example": "evt_0193a8f1-7c2e-4d5a-9f01-3b8e1a4c9d22"
          },
          {
            "name": "webhook-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unix seconds at which this attempt was signed.",
            "example": "1755061200"
          },
          {
            "name": "webhook-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "One or more space-separated `v1,<base64>` signatures. More than one\nappears only while a secret is being rotated; any match is valid.\n",
            "example": "v1,K5oZfzN95Z9UVu1EsfQmfVNQhnkZ2pj9o9NDN/H/pI4="
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Same value as the `webhook-id` header, repeated here so it survives a proxy that strips headers.",
                    "example": "evt_0193a8f1-7c2e-4d5a-9f01-3b8e1a4c9d22"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "task.succeeded",
                      "task.failed"
                    ],
                    "description": "Branch on this. More types may be added later."
                  },
                  "occurred_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the task finished — not when this attempt was sent. A retry\nhours later still reports the moment the work completed, which is\nwhat lets you order a burst of events that arrive together after a\nbacklog clears.\n",
                    "example": "2026-08-13T09:14:22+00:00"
                  },
                  "data": {
                    "type": "object",
                    "description": "Every key is always present, null where it does not apply.",
                    "properties": {
                      "task_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "The task resource. Follow it for authoritative current state,\nor ignore it and act on this payload — both are supported.\n",
                        "example": "https://api.imagenhub.ai/api/tasks/019d29c5-9663-71c4-b698-9cbf898948d4"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "success",
                          "error"
                        ]
                      },
                      "post_processing_status": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "`failed` when a post-processing step failed on a run that still\nproduced an image. The event is still `task.succeeded`, because\nyou did get output — this is how you learn it is not the output\nyou asked for.\n"
                      },
                      "model": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "output": {
                        "type": [
                          "array",
                          "null"
                        ],
                        "items": {
                          "type": "string",
                          "format": "uri"
                        },
                        "description": "Result URLs. Null on failure."
                      },
                      "error": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Why it failed. Null on success."
                      }
                    }
                  }
                }
              },
              "example": {
                "id": "evt_0193a8f1-7c2e-4d5a-9f01-3b8e1a4c9d22",
                "type": "task.succeeded",
                "occurred_at": "2026-08-13T09:14:22+00:00",
                "data": {
                  "task_id": "019d29c5-9663-71c4-b698-9cbf898948d4",
                  "url": "https://api.imagenhub.ai/api/tasks/019d29c5-9663-71c4-b698-9cbf898948d4",
                  "status": "success",
                  "post_processing_status": null,
                  "model": "black-forest-labs/flux-schnell",
                  "output": [
                    "https://cdn.imagenhub.ai/outputs/019d29c5/0.png"
                  ],
                  "error": null
                }
              }
            }
          }
        },
        "responses": {
          "2xx": {
            "description": "Any 2xx marks the delivery as landed and stops the retries. Anything else\nis retried until the budget is spent.\n"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (sk_igh_...) obtained from the dashboard"
      },
      "jwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /auth/login"
      }
    },
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "description": "An RFC 9457 problem details object, sent as application/problem+json. `type` identifies the problem and is the URL of its documentation page; members beyond the five listed are specific to the type.",
        "required": [
          "type",
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "example": "https://docs.imagenhub.ai/errors/insufficient-credits"
          },
          "title": {
            "type": "string",
            "example": "Insufficient credits"
          },
          "status": {
            "type": "integer",
            "example": 403
          },
          "detail": {
            "type": "string",
            "example": "Your current balance is 3 credits, but this run costs 10."
          },
          "instance": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "InsufficientCreditsProblem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProblemDetails"
          },
          {
            "type": "object",
            "properties": {
              "balance": {
                "type": "integer",
                "description": "Credit balance when the request was made; negative while overage is in use",
                "example": 3
              },
              "cost": {
                "type": "integer",
                "description": "What the run would have cost",
                "example": 10
[...]
