{
  "openapi": "3.1.0",
  "info": {
    "title": "ImagenHub API",
    "description": "API services with API key authentication and credit-based usage limits",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.imagenhub.ai/api",
      "description": "Production"
    },
    {
      "url": "https://staging-api.imagenhub.ai/api",
      "description": "Staging"
    },
    {
      "url": "http://localhost/api",
      "description": "Local development"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "Test API key",
        "description": "Returns basic info about the authenticated API key and user tier.\nUseful for testing API key authentication and checking credit/rate limit status.\n",
        "operationId": "ping",
        "tags": [
          "Utility"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "headers": {
              "X-RateLimit-Limit-Minute": {
                "schema": {
                  "type": "integer"
                },
                "description": "Request limit per minute (free tier only)"
              },
              "X-RateLimit-Remaining-Minute": {
                "schema": {
                  "type": "integer"
                },
                "description": "Remaining requests in minute window"
              },
              "X-RateLimit-Limit-Day": {
                "schema": {
                  "type": "integer"
                },
                "description": "Request limit per day (free tier only)"
              },
              "X-RateLimit-Remaining-Day": {
                "schema": {
                  "type": "integer"
                },
                "description": "Remaining requests in day window"
              },
              "X-Credits-Used": {
                "schema": {
                  "type": "number"
                },
                "description": "Credits used by this key"
              },
              "X-Credits-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Remaining credits (or \"unlimited\")"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/CreditLimitExceeded"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/providers": {
      "get": {
        "summary": "List providers",
        "description": "Returns all visible AI providers.",
        "operationId": "listProviders",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Provider"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List AI models",
        "description": "Returns all visible AI models with their input schemas.",
        "operationId": "listModels",
        "tags": [
          "Catalog"
        ],
        "security": [],
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free-text search on model name and display name"
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "black-forest-labs"
            },
            "description": "Filter by owner slug (Replicate convention)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Sort field"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AiModel"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/models/{owner}/{name}": {
      "get": {
        "summary": "Get a specific AI model by owner + name",
        "description": "Canonical lookup using the (owner, name) pair. Same response shape as\n`/models/{aiModel}`. Model names may contain a `/edit` variant suffix,\nwhich is captured as part of `{name}` (e.g. `/models/openai/gpt-image-1/edit`).\n",
        "operationId": "getModelByOwnerAndName",
        "tags": [
          "Catalog"
        ],
        "security": [],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "black-forest-labs"
            },
            "description": "Owner slug (Replicate convention)"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "flux-1-kontext-pro"
            },
            "description": "Model name (may contain `/edit` suffix)"
          }
        ],
        "responses": {
          "200": {
            "description": "Model details with providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AiModel"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Model not found"
          }
        }
      }
    },
    "/model-providers": {
      "get": {
        "summary": "List model-provider combinations",
        "description": "Returns visible model-provider combinations. Use query parameters\nto filter by provider or model.\n",
        "operationId": "listModelProviders",
        "tags": [
          "Catalog"
        ],
        "security": [],
        "parameters": [
          {
            "name": "provider_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by provider ID"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by model ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of model-provider combinations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelProvider"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/process": {
      "post": {
        "summary": "Process an image generation request",
        "description": "Submit an image generation request using either a model or a template.\nExactly one of `model_id` or `template_id` must be provided — they are\nmutually exclusive.\n\nWhen using `template_id`, the template's default inputs are merged with\nthe provided inputs (user input takes priority). The model is resolved\nfrom the template automatically.\n\nReturns a task resource. Poll `GET /tasks/{id}` or stream\n`GET /tasks/{id}/stream` (SSE) for status updates and output.\n",
        "operationId": "process",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model_id": {
                    "type": "integer",
                    "description": "AI model ID. Required if template_id is not provided.",
                    "example": 1
                  },
                  "template_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Template UUID. Required if model_id is not provided.",
                    "example": "019d29c5-9663-71c4-b698-9cbf898948d4"
                  },
                  "provider_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Provider ID. Optional — system selects default if omitted.",
                    "example": 1
                  },
                  "_variables": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Values for prompt variables (`{{placeholders}}`) defined on the template.\nKeys are variable names; values are strings. Substituted into all string\ninputs at job execution time. Missing values fall back to the variable's\n`default`; required variables without a value cause a 422 error.\n",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "style": "watercolor",
                      "product": "sneakers"
                    }
                  }
                },
                "additionalProperties": {
                  "description": "Dynamic input fields defined by the model's input schema.\nKeys and types vary per model.\n"
                }
              },
              "examples": {
                "withModel": {
                  "summary": "Process with model_id",
                  "value": {
                    "model_id": 1,
                    "prompt": "A cat wearing a top hat"
                  }
                },
                "withTemplate": {
                  "summary": "Process with template_id",
                  "value": {
                    "template_id": "019d29c5-9663-71c4-b698-9cbf898948d4",
                    "prompt": "A product photo on white background"
                  }
                },
                "withTemplateVariables": {
                  "summary": "Process with template_id and prompt variables",
                  "description": "The template's prompt is `\"A {{style}} illustration of {{product}} on a clean background\"`.\nValues from `_variables` are substituted into the final prompt sent to the provider.\n",
                  "value": {
                    "template_id": "019d29c5-9663-71c4-b698-9cbf898948d4",
                    "_variables": {
                      "style": "watercolor",
                      "product": "red sneakers"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "description": "Not authorized to use the specified template"
          },
          "422": {
            "description": "Validation error (e.g. both model_id and template_id provided)"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/run/{provider_name}/{model_name}": {
      "post": {
        "summary": "Run a model asynchronously",
        "description": "Submit a generation request by specifying the provider and model by name\nin the URL path. The job is queued and processed asynchronously.\n\nReturns a task resource immediately. Poll `GET /tasks/{id}` or stream\n`GET /tasks/{id}/stream` (SSE) for status updates and output.\n\nModel names may contain slashes (e.g. `black-forest-labs/flux-schnell`).\n",
        "operationId": "runModel",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The provider's name (slug).",
            "example": "replicate"
          },
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The model's name. May contain slashes.",
            "example": "black-forest-labs/flux-schnell"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "description": "Dynamic input fields defined by the model's input schema.\nKeys and types vary per model.\n"
                }
              },
              "example": {
                "prompt": "A cat wearing a top hat"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created and queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "description": "Provider or model not found"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/run/sync/{provider_name}/{model_name}": {
      "post": {
        "summary": "Run a model synchronously",
        "description": "Submit a generation request and wait for it to complete before returning.\nReturns the output image URLs and task ID directly in the response.\n\nUse this for low-latency integrations where polling is not practical.\nFor long-running models, prefer the async `POST /run/{provider_name}/{model_name}`.\n\nModel names may contain slashes (e.g. `black-forest-labs/flux-schnell`).\n",
        "operationId": "runModelSync",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The provider's name (slug).",
            "example": "replicate"
          },
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The model's name. May contain slashes.",
            "example": "black-forest-labs/flux-schnell"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "description": "Dynamic input fields defined by the model's input schema.\nKeys and types vary per model.\n"
                }
              },
              "example": {
                "prompt": "A cat wearing a top hat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The ID of the completed task."
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      },
                      "description": "Public URLs of the generated output images."
                    }
                  }
                },
                "example": {
                  "task_id": "018f1a2b-3c4d-7e8f-9a0b-1c2d3e4f5a6b",
                  "images": [
                    "https://cdn.example.com/output/abc123.png"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "description": "Provider or model not found"
          },
          "422": {
            "description": "Validation error or task processing failure",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "task_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error detail from the provider."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/tasks/{task}": {
      "get": {
        "summary": "Get task status",
        "description": "Returns the current status of a task. When status is `success`,\nthe `output` field contains signed URLs to generated images\n(valid for 1 hour).\n",
        "operationId": "getTask",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/tasks/{task}/download": {
      "get": {
        "summary": "Download task output image",
        "description": "Streams a single output image of a successful task as a file\ndownload (`Content-Disposition: attachment`). Use `index` to pick\namong multiple outputs (default `0`).\n",
        "operationId": "downloadTaskOutput",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task UUID"
          },
          {
            "name": "index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Zero-based index of the output image to download"
          }
        ],
        "responses": {
          "200": {
            "description": "Image file stream",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Task or output image not found"
          }
        }
      }
    },
    "/tasks/{task}/stream": {
      "get": {
        "summary": "Stream task status (SSE)",
        "description": "Server-Sent Events stream for real-time task status updates.\nEach event contains a JSON-encoded task object. The stream\ncloses when the task reaches `success` or `error` status.\n",
        "operationId": "streamTask",
        "tags": [
          "Processing"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Task UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of task status updates",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "JSON-encoded task objects as SSE data events"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "summary": "List templates",
        "description": "Returns the authenticated user's own templates plus all public\ntemplates. Public templates have `user_id: null` and are\nsystem-provided starting points that any user can run directly.\n",
        "operationId": "listTemplates",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Search query — filters by name (partial match), or if the value is a valid template UUID, returns an exact match by template ID"
          },
          {
            "name": "ownership",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "public",
                "private"
              ],
              "default": "all"
            },
            "description": "Filter by ownership (all = user's + public, public = system templates only, private = user's only)"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by AI model ID"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ],
              "default": "created_at"
            },
            "description": "Sort field"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 15
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TemplateSummary"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create template",
        "description": "Create a new template from a model and default inputs.\nThe template is owned by the authenticated user.\n",
        "operationId": "createTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "model_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Product Photo Enhancement"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "Enhance product photos with professional lighting"
                  },
                  "model_id": {
                    "type": "integer",
                    "description": "AI model ID to use for this template",
                    "example": 1
                  },
                  "default_inputs": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Pre-filled input values merged with user input at processing time"
                  },
                  "extra_input": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Provider-specific extra input overrides"
                  },
                  "thumbnail_source": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "URL to generate a WebP thumbnail from"
                  },
                  "prompt_variables": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "description": "Named placeholders (`{{name}}`) that appear in the template's prompt\nor other string inputs. Users fill them at processing time via the\n`_variables` map on `POST /process`.\n",
                    "items": {
                      "$ref": "#/components/schemas/PromptVariable"
                    }
                  }
                }
              },
              "examples": {
                "withVariables": {
                  "summary": "Template with prompt variables",
                  "value": {
                    "name": "Product Photo Generator",
                    "model_id": 1,
                    "description": "Generate styled product photos with a customizable subject",
                    "default_inputs": {
                      "prompt": "A {{style}} photo of {{product}} on a {{background}} background"
                    },
                    "prompt_variables": [
                      {
                        "name": "style",
                        "default": "studio"
                      },
                      {
                        "name": "product",
                        "default": null
                      },
                      {
                        "name": "background",
                        "default": "white"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/templates/{template}": {
      "get": {
        "summary": "Get template",
        "description": "Returns a single template. Accessible if the template is owned\nby the authenticated user or is public.\n",
        "operationId": "getTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Template UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to view this template"
          },
          "404": {
            "description": "Template not found"
          }
        }
      },
      "put": {
        "summary": "Update template",
        "description": "Update an existing template. Only the template owner can update it.\n",
        "operationId": "updateTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Template UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "model_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Product Photo Enhancement"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "example": "Enhance product photos with professional lighting"
                  },
                  "model_id": {
                    "type": "integer",
                    "description": "AI model ID to use for this template",
                    "example": 1
                  },
                  "default_inputs": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Pre-filled input values merged with user input at processing time"
                  },
                  "extra_input": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Provider-specific extra input overrides"
                  },
                  "thumbnail_source": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "URL to generate a new WebP thumbnail from (replaces existing)"
                  },
                  "prompt_variables": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "description": "Replace the template's prompt variable definitions. Pass `null`\nor an empty array to clear all variables. See `PromptVariable` schema.\n",
                    "items": {
                      "$ref": "#/components/schemas/PromptVariable"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Template"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to update this template"
          },
          "404": {
            "description": "Template not found"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "summary": "Delete template",
        "description": "Delete a template. Only the template owner can delete it.\n",
        "operationId": "deleteTemplate",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Template UUID"
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Not authorized to delete this template"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/analytics/requests": {
      "get": {
        "summary": "List request history",
        "description": "Returns paginated request log for the authenticated user's API keys.\nSupports cursor-based pagination, filtering by model, API key, status, and date range.\n",
        "operationId": "listAnalyticsRequests",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Search model name or provider name (partial match)"
          },
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by AI model ID"
          },
          {
            "name": "model_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter by exact model name"
          },
          {
            "name": "provider_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter by exact provider name"
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by specific API key ID"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "user_error",
                "error"
              ]
            },
            "description": "Filter by response status"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range (YYYY-MM-DD, defaults to 24h ago)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range (YYYY-MM-DD, defaults to now)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ended_at",
                "duration"
              ],
              "default": "ended_at"
            },
            "description": "Sort field"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination (from previous response's next_cursor)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated request log",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsRequestsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/analytics/requests/filters": {
      "get": {
        "summary": "Get request filter options",
        "description": "Returns available filter values (model names and provider names)\nfor the authenticated user's request history. Useful for populating\nfilter dropdowns in the UI.\n",
        "operationId": "getAnalyticsRequestFilters",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Available filter values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "dall-e-3",
                        "flux-dev",
                        "stable-diffusion-xl"
                      ],
                      "description": "Unique model names from past requests"
                    },
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "openai",
                        "fal",
                        "replicate"
                      ],
                      "description": "Unique provider names from past requests"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/usage": {
      "get": {
        "summary": "Usage and cost aggregation",
        "description": "Returns time-bucketed cost and request count aggregation\nfor the authenticated user's API keys.\n",
        "operationId": "getAnalyticsUsage",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by AI model ID"
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by specific API key ID"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range (YYYY-MM-DD, defaults to 24h ago)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range (YYYY-MM-DD, defaults to now)"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month"
              ],
              "default": "day"
            },
            "description": "Time bucket granularity"
          }
        ],
        "responses": {
          "200": {
            "description": "Time-bucketed usage data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsUsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/analytics/metrics": {
      "get": {
        "summary": "Performance metrics",
        "description": "Returns time-bucketed performance metrics including request counts,\nerror rates, and latency percentiles (p50, p75, p90) for a specific model.\n",
        "operationId": "getAnalyticsMetrics",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AI model ID (required)"
          },
          {
            "name": "api_key_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by specific API key ID"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range (YYYY-MM-DD, defaults to 24h ago)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range (YYYY-MM-DD, defaults to now)"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month"
              ],
              "default": "day"
            },
            "description": "Time bucket granularity"
          }
        ],
        "responses": {
          "200": {
            "description": "Performance metrics with percentiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsMetricsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/credits/balance": {
      "get": {
        "summary": "Get credit balance",
        "description": "Returns the current credit balance for the authenticated user.",
        "operationId": "getCreditBalance",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "integer",
                          "example": 1234
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/credits/transactions": {
      "get": {
        "summary": "List credit transactions",
        "description": "Returns a cursor-paginated list of credit ledger entries for the authenticated user.\nOptionally filter by one or more transaction types via repeated `types[]` query params.\n",
        "operationId": "listCreditTransactions",
        "tags": [
          "Credits"
        ],
        "security": [
          {
            "jwtAuth": []
          }
        ],
        "parameters": [
          {
            "name": "types[]",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CreditTransactionType"
              }
            },
            "description": "Filter by one or more transaction types. Repeat the parameter to pass\nmultiple values (e.g. `?types[]=subscription_deposit&types[]=topup`).\nOmit to return the full ledger.\n"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination (from previous response's next_cursor)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated credit transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransactionsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (sk_live_... or sk_test_...) obtained from the dashboard"
      },
      "jwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /auth/login"
      }
    },
    "schemas": {
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "OpenAI"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "OpenAI API provider"
          }
        }
      },
      "AiModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "dall-e-3"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "DALL-E 3"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "DALL-E 3 image generation model"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "text-to-image",
              "image-to-image"
            ],
            "description": "Supported generation types"
          },
          "thumbnail": {
            "type": [
              "string",
              "null"
            ],
            "example": "https://example.com/thumbnails/dall-e-3.png"
          },
          "input": {
            "type": [
              "object",
              "null"
            ],
            "description": "JSON schema describing model input parameters"
          },
          "owner": {
            "type": [
              "object",
              "null"
            ],
            "description": "Publisher / trainer of the model. Slug follows the Replicate convention.",
            "properties": {
              "slug": {
                "type": "string",
                "example": "black-forest-labs"
              },
              "display_name": {
                "type": "string",
                "example": "Black Forest Labs"
              },
              "logo_url": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "credit_cost": {
            "type": [
              "integer",
              "null"
            ],
            "example": 20,
            "description": "Credits charged per generation for this model"
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 1
                },
                "name": {
                  "type": "string",
                  "example": "openai"
                },
                "display_name": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "example": "OpenAI"
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "endpoint": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "example": "/v1/images/generations"
                },
                "extra_input": {
                  "type": [
                    "object",
                    "null"
                  ]
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ModelProvider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "ai_model": {
            "$ref": "#/components/schemas/AiModel"
          },
          "endpoint": {
            "type": [
              "string",
              "null"
            ],
            "example": "/v1/images/generations"
          }
        }
      },
      "PingResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "pong"
          },
          "key": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "Production API Key"
              },
              "type": {
                "type": "string",
                "enum": [
                  "live",
                  "test"
                ],
                "example": "live"
              },
              "credit_limit": {
                "type": [
                  "number",
                  "null"
                ],
                "example": 1000
              },
              "credits_used": {
                "type": "number",
                "example": 150.5
              },
              "credits_remaining": {
                "type": [
                  "number",
                  "null"
                ],
                "example": 849.5
              }
            }
          },
          "user": {
            "type": "object",
            "properties": {
              "tier": {
                "type": "string",
                "enum": [
                  "free",
                  "paid"
                ],
                "example": "free"
              }
            }
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "019d29c6-a50d-7340-a521-22ef5d1a4bb6"
          },
          "user_id": {
            "type": "integer",
            "example": 1
          },
          "personal_access_token_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "API key ID used for this task (null if created via JWT)",
            "example": 1
          },
          "model_id": {
            "type": "integer",
            "example": 1
          },
          "template_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "example": "019d29c5-9663-71c4-b698-9cbf898948d4"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "processing",
              "success",
              "error"
            ],
            "example": "created"
          },
          "input": {
            "type": "object",
            "description": "Processed input sent to the provider"
          },
          "output": {
            "type": [
              "array",
              "null"
            ],
            "description": "Signed URLs to generated images (only present on success)",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "019d29c5-9663-71c4-b698-9cbf898948d4"
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Owner user ID, or null for public templates",
            "example": null
          },
          "name": {
            "type": "string",
            "example": "Product Photo Enhancement"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Enhance product photos with professional lighting"
          },
          "thumbnail": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Signed URL to the WebP thumbnail image",
            "example": "https://cdn.example.com/thumbnails/templates/abc.webp?signature=..."
          },
          "default_inputs": {
            "type": [
              "object",
              "null"
            ],
            "description": "Pre-filled input values merged with user input at processing time"
          },
          "extra_input": {
            "type": [
              "object",
              "null"
            ],
            "description": "Provider-specific extra input overrides, keyed by provider name"
          },
          "prompt_variables": {
            "type": [
              "array",
              "null"
            ],
            "description": "Variable definitions for `{{placeholders}}` used in this template's prompt.\nClients use these to render input controls and validate user values before\nsending them as `_variables` to `POST /process`.\n",
            "items": {
              "$ref": "#/components/schemas/PromptVariable"
            }
          },
          "model": {
            "$ref": "#/components/schemas/AiModel"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PromptVariable": {
        "type": "object",
        "description": "Definition of a single `{{placeholder}}` in a template's prompt or string inputs.\nSubstitution happens at job execution time using values from the `_variables` map\non `POST /process`. Values fall back to `default` when omitted; if neither is\nprovided, the `{{name}}` placeholder is left untouched in the final prompt.\n",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$",
            "description": "Placeholder identifier matched against `{{name}}` in template strings",
            "example": "style"
          },
          "default": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default value used when the variable is omitted from `_variables`",
            "example": "studio"
          }
        }
      },
      "TemplateSummary": {
        "type": "object",
        "description": "Lightweight template representation for listings (excludes default_inputs, extra_input, and full model details)",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "019d29c5-9663-71c4-b698-9cbf898948d4"
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Owner user ID, or null for public templates",
            "example": null
          },
          "name": {
            "type": "string",
            "example": "Product Photo Enhancement"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Enhance product photos with professional lighting"
          },
          "thumbnail": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Signed URL to the WebP thumbnail image"
          },
          "model": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 1
              },
              "name": {
                "type": "string",
                "example": "flux-schnell"
              },
              "display_name": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Flux Schnell"
              }
            }
          },
          "has_variables": {
            "type": "boolean",
            "description": "Whether this template defines any prompt variables (full definitions are returned by `GET /templates/{id}`)",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CursorPaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": [
              "string",
              "null"
            ]
          },
          "last": {
            "type": [
              "string",
              "null"
            ]
          },
          "prev": {
            "type": [
              "string",
              "null"
            ]
          },
          "next": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CursorPaginationMeta": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          },
          "per_page": {
            "type": "integer",
            "example": 15
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor for next page"
          },
          "prev_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cursor for previous page"
          }
        }
      },
      "CreditTransactionType": {
        "type": "string",
        "enum": [
          "subscription_deposit",
          "topup",
          "generation_charge",
          "refund",
          "partner_deposit",
          "adjustment"
        ],
        "description": "Ledger entry type. `generation_charge` and `refund` pair with each task;\nthe remaining values represent billing events (money in/out).\n"
      },
      "CreditTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "type": {
            "$ref": "#/components/schemas/CreditTransactionType"
          },
          "amount": {
            "type": "integer",
            "description": "Signed credit amount (positive = added, negative = spent)",
            "example": -25
          },
          "balance_after": {
            "type": "integer",
            "description": "User's credit balance immediately after this entry",
            "example": 975
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "Contextual fields (e.g. task_id, model, plan, reason)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditTransactionsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditTransaction"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/CursorPaginationMeta"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": [
              "string",
              "null"
            ]
          },
          "last": {
            "type": [
              "string",
              "null"
            ]
          },
          "prev": {
            "type": [
              "string",
              "null"
            ]
          },
          "next": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "example": 1
          },
          "last_page": {
            "type": "integer",
            "example": 3
          },
          "per_page": {
            "type": "integer",
            "example": 15
          },
          "total": {
            "type": "integer",
            "example": 42
          },
          "from": {
            "type": [
              "integer",
              "null"
            ]
          },
          "to": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "RequestLogItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "task_id": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "example": "flux-dev"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "example": "fal"
          },
          "type": {
            "type": "string",
            "enum": [
              "success",
              "user_error",
              "error"
            ],
            "example": "success"
          },
          "status_code": {
            "type": [
              "integer",
              "null"
            ],
            "example": 200
          },
          "cost": {
            "type": "string",
            "example": "0.000000"
          },
          "duration": {
            "type": [
              "string",
              "null"
            ],
            "example": "2.3410",
            "description": "Request duration in seconds"
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "ended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AnalyticsRequestsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestLogItem"
            }
          },
          "links": {
            "$ref": "#/components/schemas/CursorPaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/CursorPaginationMeta"
          }
        }
      },
      "AnalyticsUsageResponse": {
        "type": "object",
        "properties": {
          "time_series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "bucket": {
                  "type": "string",
                  "example": "2026-03-17"
                },
                "request_count": {
                  "type": "integer",
                  "example": 42
                },
                "total_cost": {
                  "type": "number",
                  "example": 0
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "total_requests": {
                "type": "integer",
                "example": 150
              },
              "total_cost": {
                "type": "number",
                "example": 0
              }
            }
          }
        }
      },
      "AnalyticsMetricsResponse": {
        "type": "object",
        "properties": {
          "time_series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "bucket": {
                  "type": "string",
                  "example": "2026-03-17"
                },
                "request_count": {
                  "type": "integer",
                  "example": 42
                },
                "success_count": {
                  "type": "integer",
                  "example": 38
                },
                "user_error_count": {
                  "type": "integer",
                  "example": 3
                },
                "error_count": {
                  "type": "integer",
                  "example": 1
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "request_count": {
                "type": "integer",
                "example": 150
              },
              "success_count": {
                "type": "integer",
                "example": 140
              },
              "user_error_count": {
                "type": "integer",
                "example": 7
              },
              "error_count": {
                "type": "integer",
                "example": 3
              },
              "p50_duration": {
                "type": [
                  "number",
                  "null"
                ],
                "example": 1.3,
                "description": "Median request duration in seconds"
              },
              "p75_duration": {
                "type": [
                  "number",
                  "null"
                ],
                "example": 2.4
              },
              "p90_duration": {
                "type": [
                  "number",
                  "null"
                ],
                "example": 5
              }
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Unauthenticated."
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests (free tier only)",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until rate limit resets"
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Request limit"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Remaining requests"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "rate_limit_exceeded"
                    },
                    "message": {
                      "type": "string",
                      "example": "Rate limit exceeded for minute window."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreditLimitExceeded": {
        "description": "Credit limit exceeded for API key",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "credit_limit_exceeded"
                    },
                    "message": {
                      "type": "string",
                      "example": "Credit limit exceeded for this API key."
                    },
                    "credit_limit": {
                      "type": "number",
                      "example": 1000
                    },
                    "credits_used": {
                      "type": "number",
                      "example": 1000
                    },
                    "resets_at": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "example": "2026-03-01T00:00:00+00:00"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "InsufficientCredits": {
        "description": "User does not have enough credits to dispatch this request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "insufficient_credits"
                    },
                    "message": {
                      "type": "string",
                      "example": "Insufficient credit balance."
                    },
                    "balance": {
                      "type": "integer",
                      "description": "Current user credit balance",
                      "example": 12
                    },
                    "cost": {
                      "type": "integer",
                      "description": "Credit cost the request would have charged",
                      "example": 50
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}